{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}

    <h1>{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>

    {% if page.body %}
        {{ page.body|richtext }}
    {% endif %}

    <hr>
    <hr>
    <hr>
    <hr>

    {% image page.image fill-150x150-c100 format-jpeg %}
    {% image page.image width-400 %}
    {% image page.image width-400 format-avif-lossless %}
    {% image page.image width-400 format-webp-lossless %}
   
    {% image image page.image fill-90x200 as custom_img %}
    {{ custom_img.url }}

    <h3>Dynamic Image Serve View Below</h3>
    {% image_url page.image "fill-150x150|jpegquality-100" as custom_img2 %}
    {{ custom_img2 }}
    <img src="{{ custom_img2 }}" alt="Django Unchained">

{% endblock content %}